<template>
  <div>
    <section class="ecl-banner ecl-banner--image-overlay ecl-banner--m ecl-banner--centered ecl-u-border-radius-0">
      <picture class="ecl-picture ecl-banner__picture"><img class="ecl-banner__image"
          src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg" alt="alternative text" /></picture>

      <div class="ecl-container">
        <div class="ecl-banner__container">
          <div class="ecl-banner__content">
            <div class="ecl-banner__title"><span class="ecl-banner__title-text">
                <h1 style="color: white;">Test environment of the HealthData@EU
                  Central Platform.</h1>
              </span></div>
            <p class="ecl-banner__description"><span class="ecl-banner__description-text">The Central Platform,
                efficiently manages, processes, and analyzes metadata records and catalogues.</span></p>

          </div>
        </div>
      </div>
    </section>
    <div class="mt-0 d-flex flex-column bg-transparent" style="padding: 30px 30px 0 30px;">
      <div class="container-fluid datasets content">

        <div class="section-title">
          <br><br>

          <figure class="ecl-blockquote">
            <!-- style="-webkit-border-start: 10px solid #ffd617 !important;" -->
            <div class="ecl-blockquote__body" >
              <blockquote class="ecl-blockquote__quote">
                <div class="ecl-content-block__description">The HealthData@EU Central Platform is key digital system that
                  the one of the systems which European
                  Commission is setting up to meet the requirements of the upcoming European Health Data Space
                  Regulation.
                  <br />
                  <br />
                </div>
              </blockquote>
              <footer>
                <p class="ecl-blockquote__citation" style="font-size: medium;" lang="en">
                  This platform is scheduled to be ready by early 2026 or as soon as the regulation takes effect.
                  For official information on this regulation, please visit <a href="https://eur-lex.europa.eu/legal-content/EN/TXT/HTML/?uri=CELEX:52022PC0197"
                        class="ecl-link" target="_blank" rel="noopener">EUR-Lex.europa.eu</a></p>
              </footer>
              <footer class="ecl-blockquote__attribution"><cite class="ecl-blockquote__author"> Discover more on <a
                    data-v-79694f12=""
                    href="https://health.ec.europa.eu/ehealth-digital-health-and-care/european-health-data-space_en"
                    aria-label="Discover more on European Health Data Space - European Commission (europa.eu)"
                    class="ecl-link ecl-link--cta ecl-link--icon ecl-link--icon-after ecl-banner__link-cta"
                    style="text-decoration: none; color: black"><span data-v-79694f12="" class="ecl-link__label">European
                      Health Data Space</span><svg xmlns="http://www.w3.org/2000/svg"
                      class="ecl-icon ecl-icon--s ecl-link__icon" focusable="false" aria-hidden="true"
                      viewBox="0 0 320 512">
                      <path
                        d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z">
                      </path>
                    </svg></a></cite></footer>
            </div>

          </figure>





          <br>
          <br>
          <h2
            class="ecl-u-border-bottom ecl-u-border-width-2 ecl-u-border-color-blue-20 ecl-u-pb-l ecl-u-type-heading-3 ecl-u-type-font-weight-700">
            Overview</h2>



          <div class="ecl-row">
     
            <div class="ecl-col-l-4 ecl-u-pv-m views-row">
              <article class="ecl-card node node--type-page node--view-mode-overview-teaser">
                <div class="ecl-card__body">
                  <div class="ecl-content-block ecl-card__content-block" data-ecl-auto-init="ContentBlock"
                    data-ecl-content-block="" data-ecl-auto-initialized="true">
                    <h1 class="ecl-content-block__title">
                      <dt class="ecl-link ecl-link--standalone ecl-link--no-visited ecl-u-type-font-weight-400"
                        style="text-decoration: none;">Release 0</dt>
                    </h1>
                    <div class="ecl-content-block__description">
                      All the legally required functionalities will be developed in dedicated Releases.
                      <br /><br />
                      The version currentlt on display was implemented as part of Release 0 which offers the
                      following capabilities :
                      <ul class="ecl-unordered-list">
                        <li class="ecl-unordered-list__item">
                          Searching and displaying a health metadata catalogues and health
                          metadata records according to the DCAT-AP version 2 standard.
                        </li>
                        <li class="ecl-unordered-list__item">
                          Completing the forms for the data permit and data request applications.
                        </li>
                        <li class="ecl-unordered-list__item">
                          Displaying statistics related to the EU metadata catalogue operations.
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <div class="ecl-col-l-4 ecl-u-pv-m views-row">
              <article class="ecl-card node node--type-page node--view-mode-overview-teaser">
                <div class="ecl-card__body">
                  <div class="ecl-content-block ecl-card__content-block" data-ecl-auto-init="ContentBlock"
                    data-ecl-content-block="" data-ecl-auto-initialized="true">
                    <h1 class="ecl-content-block__title">
                      <dt class="ecl-link ecl-link--standalone ecl-link--no-visited ecl-u-type-font-weight-400"
                        style="text-decoration: none;">Release 0 constrains</dt>
                    </h1>
                    <div class="ecl-content-block__description">

                      The EU health metadata catalog can incorporate any catalog that follows the eDelivery format, with
                      messages adhering to the DCAT-AP version 2 standard.
                      <br />
                      At the same time, the forms for data permits and requests are designed to capture essential
                      information
                      and include checks to ensure all required fields are completed before submission via eDelivery.
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <div class="ecl-col-l-4 ecl-u-pv-m views-row">
              <article class="ecl-card node node--type-page node--view-mode-overview-teaser">
                <div class="ecl-card__body">
                  <div class="ecl-content-block ecl-card__content-block" data-ecl-auto-init="ContentBlock"
                    data-ecl-content-block="" data-ecl-auto-initialized="true">
                    <h1 class="ecl-content-block__title"> <dt
                        
                        style="text-decoration: none;"
                        ><a href="https://eur-lex.europa.eu/legal-content/EN/TXT/HTML/?uri=CELEX:52022PC0197" target="_blank" rel="noopener" class="ecl-link ecl-link--standalone ecl-link--no-visited ecl-u-type-font-weight-400">EHDS Regulation
                        proposal</a></dt></h1>
                    <div class="ecl-content-block__description">
                      According to <a href="https://eur-lex.europa.eu/legal-content/EN/TXT/HTML/?uri=CELEX:52022PC0197"
                        class="ecl-link" target="_blank" rel="noopener"> the European Health Data Space (EHDS) Regulation</a>, the final metadata for the
                      Central
                      Platform will be sourced from the National Contact Points (NCPs) of each Member State and various
                      European Institutions. <br /> These metadata, once integrated and made accessible on the Central
                      Platform, will
                      form the comprehensive EU Metadata set, available for search and display.
                    </div>
                  </div>
                </div>
              </article>
            </div>

            <div class="ecl-col-l-4 ecl-u-pv-m views-row">
              <article class="ecl-card node node--type-page node--view-mode-overview-teaser">
                <div class="ecl-card__body">
                  <div class="ecl-content-block ecl-card__content-block" data-ecl-auto-init="ContentBlock"
                    data-ecl-content-block="" data-ecl-auto-initialized="true">
                    <h1 class="ecl-content-block__title">
                      <dt class="ecl-link ecl-link--standalone ecl-link--no-visited ecl-u-type-font-weight-400"
                        style="text-decoration: none;">Cross-border format</dt>
                    </h1>
                    <div class="ecl-content-block__description">
                      Future updates will expand the platform's features, including the cross-border format for metadata
                      catalogues and application forms for data permits and requests. <br />These enhancements are being
                      discussed
                      and will be validated in collaboration with the SANTE Business Owner (SANTE C1) and member states
                      participating in the EHDS Pilot project. <br />
                      Once finalized it will be implemented in this Central Platform.
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <div class="ecl-col-l-4 ecl-u-pv-m views-row">
              <article class="ecl-card node node--type-page node--view-mode-overview-teaser">
                <div class="ecl-card__body">
                  <div class="ecl-content-block ecl-card__content-block" data-ecl-auto-init="ContentBlock"
                    data-ecl-content-block="" data-ecl-auto-initialized="true">
                    <h1 class="ecl-content-block__title">
                      <dt class="ecl-link ecl-link--standalone ecl-link--no-visited ecl-u-type-font-weight-400"
                        style="text-decoration: none;">Central Platform & NCP</dt>
                    </h1>
                    <div class="ecl-content-block__description">
                      The machine-to-machine connection between Central Platform and NCPs was developed and tested as
                      part of the collaboration between European Commission and EHDS Pilot project. <br /> <br /> This
                      connection, powered by the eDelivery AS4 software, supports the shared HealthData@EU
                      infrastructure.
                    </div>
                  </div>
                </div>
              </article>
            </div>


            <div class="ecl-col-l-4 ecl-u-pv-m views-row">
              <article class="ecl-card node node--type-page node--view-mode-overview-teaser">
                <div class="ecl-card__body">
                  <div class="ecl-content-block ecl-card__content-block" data-ecl-auto-init="ContentBlock"
                    data-ecl-content-block="" data-ecl-auto-initialized="true">
                    <h1 class="ecl-content-block__title">
                      <dt class="ecl-link ecl-link--standalone ecl-link--no-visited ecl-u-type-font-weight-400"
                        style="text-decoration: none;">HealthData@EU Repository</dt>
                    </h1>
                    <div class="ecl-content-block__description">
                      For those interested in deploying this platform, visit <a target="_blank" rel="noopener"
                        href="https://code.europa.eu/healthdataeu-nodes/hdcentralmodules"
                        class="ecl-link">code europa</a> for access to the necessary code
                      and documentation. <br /><br />
                      
                      For further inquiries, <a href="#contact-us">contact us.</a>
                      <!-- For further inquiries, contact us at <a
                        href="mailto:sante-healthdata-it@ec.europa.eu;">SANTE-HEALTHDATA-IT@ec.europa.eu</a>-->
                    </div>
                  </div>
                </div>
              </article>
            </div>
            
          </div>

          <div class="ecl-u-border-bottom ecl-u-border-width-2 ecl-u-border-color-blue-20 ecl-u-mb-xl"></div>

          <p class="text-left"><b>Contact us</b></p>

          <p class="text-left" id="contact-us">IT Unit SANTE R4<br>
            Rue Breydel 4<br>
            1040 Bruxelles, Belgique<br>
            Email: <a href="mailto:sante-healthdata-it@ec.europa.eu;">SANTE-HEALTHDATA-IT@ec.europa.eu</a></p>
          <br>
      

        </div>
      </div>
    </div>
  </div>
</template>

<script>
window.addEventListener("load", () => {
  const nav = document.querySelector("#deu-header-breadcrumbs");
  const content = document.querySelector("div.content");


  nav.style.display = "none";
  content.style.padding = "0px";
})
</script>

<style lang="scss" scoped>
@use "../../node_modules/@ecl/preset-eu/dist/styles/ecl-eu.css";

.content {
  margin-top: 0px !important;
  padding-top: 0px !important;
}

.alert-primary {
  color: #042648;
  background-color: #cddbe8;
  border-color: #baccdf;
}

.page-title {
  // maybe we can change custom theme h1 to 3rem
  font-size: 3rem;
  margin-bottom: 15px;
}

.content {
  padding: 30px 30px 0 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: white;
}

.router-link-active {
  color: #175baf !important;
  border: none !important;
  border-bottom: 2px solid #175baf !important;
}

.router-link-inactive {
  color: rgba(0, 0, 0, 0.7);
  border: none !important;

  &:hover {
    color: #175baf;
  }
}

.material-icons.small-icon {
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  #datasetFacets {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .ecl-blockquote {
    border-color: rgb(255, 214, 23) !important;
  }
  .ecl-blockquote__body {
    border-inline-start-width: 10px !important;
    border-inline-start-style: solid !important;
    border-inline-start-color: transparent !important;
  }
  
}

#sub_name_title{
    display: none !important
}

@media(min-width: 996px) {
  #sub_name_title {
        display:block !important;
        font-weight: 700 !important
    }
}


@media only screen and (min-width: 768px) {
  .ecl-blockquote {
    border-color: transparent;
  }
  .ecl-blockquote__body {
    border-inline-start-width: 10px !important;
    border-inline-start-style: solid !important;
    border-inline-start-color: rgb(255, 214, 23) !important;
  }
}
</style>
