<template>
	<div class="app">
		<div class="app-snackbar position-fixed fixed-bottom m-3 m-md-5 py-5 d-flex justify-content-center w-100">
			<app-snackbar />
		</div>
		<vue-progress-bar />
		<div class="site-wrapper">
			<deu-header project="hub" active-menu-item="data" enable-authentication use-breadcrumbs
				use-breadcrumbs-route-meta @login="euLogin" @logout="euLogout" :showSparql="showSparql" />
			<router-view class="content" :key="`${$route.fullPath}`" />

			<deu-footer :authenticated="keycloak && keycloak.authenticated"
				:use-login="$env.navigation.bottom.login.useLogin" :login="$env.navigation.bottom.login.loginURL"
				:login-title="$env.navigation.bottom.login.loginTitle" :logout="$env.navigation.bottom.login.logoutURL"
				:logout-title="$env.navigation.bottom.login.logoutTitle" @click-follow-link="handleFollowClick" />

		</div>
		<dpiMenu v-if="keycloak && keycloak.authenticated"></dpiMenu>
		<cookie-consent :piwik-instance="$piwik" />
	</div>
</template>

<script>
/* eslint-disable no-underscore-dangle */
import CookieConsent from '@deu/deu-cookie-consent';
import '@deu/deu-cookie-consent/dist/deu-cookie-consent.css';
import { DpiMenu } from '@piveau/piveau-hub-ui-modules';

export default {
	name: 'app',
	components: {
		CookieConsent,
		DpiMenu,
	},
	metaInfo() {
		return {
			titleTemplate(chunk) {
				return chunk ? `${chunk} - Health.data.eu` : 'Health.data.eu';
			},
			meta: [
				{ name: 'description', vmid: 'description', content: 'data.europa.eu' },
				{ name: 'keywords', vmid: 'keywords', content: this.$env.keywords },
			],
			htmlAttrs: {
				lang: this.$route.query.locale,
			}
		};
	},
	data() {
		return {
			tracker: null,
			matomoURL: this.$env.tracker.trackerUrl,
			piwikId: this.$env.tracker.siteId,
			lastRoute: null,
			keycloak: this.$keycloak,
			showSparql: this.$env.navigation.top.main.data.sparql.show
		};
	},
	computed: {},
	methods: {
		euLogin() {
			window.location.href = "https://data.europa.eu/euodp/data/user/login";
		},
		euLogout() { },
		handleFollowClick(url) {
			this.$piwik.trackOutlink(url);
		},
	},
};

// JavaScript code to hide some menu items from main menu:
document.addEventListener('DOMContentLoaded', function () {
	document.querySelector('#menu-item-list').childNodes[2].textContent = "";
	document.querySelector('#menu-item-list').childNodes[3].textContent = "";
	document.querySelector('#menu-item-list').childNodes[4].textContent = "";
	document.querySelector('#menu-item-list').childNodes[5].textContent = "";
	document.querySelector('#menu-item-list').childNodes[6].textContent = "";

	
	//footer contact us region
	document.querySelector('#block-subscribetoournewsletter').childNodes[0].childNodes[1].textContent=""
	document.querySelector('#block-subscribetoournewsletter').childNodes[0].childNodes[3].textContent=""
	document.querySelector('#block-subscribetoournewsletter').childNodes[0].childNodes[2].textContent="Contact the healthdata.europa.eu team"
	//
	document.querySelector('.region-footer-first-left-headline').innerHTML="healthdata.europa.eu";
	//document.querySelector('.deu-headline').textContent	= "Test environment of the HealthData@EU Central Platform.";
	document.querySelector('.deu-headline').innerHTML="<div class='ecl-site-header__banner'><div class='ecl-container'><div class='ecl-site-header__site-name'><div class='header-title-wrapper'><div class='region region-header-title'><div id='block-headerecltitle' class='block block-block-content block-block-content44818284-44c9-4b6a-b738-6aed80f70f66 block-header-ecl-title' style=''><div class='site-name' style='    align-self: center;    color: white;    flex-grow: 1;    font: normal normal 400 2rem/2.5rem arial,sans-serif;    font-weight: 700;    margin-inline-end: 0;'><div class='field field--name-field-site-name field--type-string field--label-hidden field__item'>European Health data</div></div><div class='description ecl-u-d-flex ecl-u-align-items-center' style='    gap: 0.75rem;    margin-top: 0.375rem;'><div class='tagline ecl-u-bg-grey-5 ecl-u-type-paragraph-m' style='    padding: 0.25rem 0.75rem;    -ms-flex-item-align: center;    align-self: center;    font-size: 1.125rem !important;    font-weight: 700 !important;    border-left: solid 6px #fc0;'><div class='field field--name-field-tagline field--type-string field--label-hidden field__item' style='    /* display: block; */'>healthdata.europa.eu</div></div><div class='sub-name ecl-u-type-paragraph-m' style='    color: white !important;'><div id='sub_name_title' class='field field--name-field-subname field--type-string field--label-hidden field__item' style='       font-weight: 700 !important;'>The official portal for European health data.</div></div></div></div></div></div></div></div></div><style>#sub_name_title{display: none !important}@media(min-width: 996px) { #sub_name_title {        display:block !important;        font-weight: 700 !important    }}</style>";
	
	
	document.querySelector('#navbarDropdownMenuLink1').querySelector("span").textContent = "Metadata";
	
	console.log(document.querySelector('.site-wrapper').childNodes[2].childNodes[2].childNodes[0].childNodes[0].childNodes[0].querySelector("span").textContent = "Metadata record");
});

</script>

<style lang="scss">
// Normalizes default css rules. See: https://github.com/necolas/normalize.css
@import './styles/utils/normalize.css';

@font-face {
	font-family: "Ubuntu";
	src: local("Ubuntu"), url(../static/fonts/Ubuntu/Ubuntu-Regular.ttf) format("truetype");
}

* {
	box-sizing: border-box;
}

.site-wrapper header {
	display: initial;
}

.container-fluid {
	max-width: 1340px !important;
}
</style>

<style lang="scss" scoped>
.app {
	background-color: #fff;
}

.site-wrapper {
	border: 0;
	max-width: none;
	box-shadow: none;
	display: initial;

	.content {
		padding: 30px 30px 0 30px;
		margin-top: 15px;
		margin-bottom: 15px;
		background-color: white;
	}
}

.app-snackbar {
	z-index: 9999;
	pointer-events: none;
}
</style>
