.shacl-validator-button-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

body {
  font: normal normal 400 1rem/1.5rem arial,sans-serif;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

div.v-text-field__slot {
  border: 1px solid #707070 !important;
  padding: 0.5rem;
}

.v-input__slot:before {
  border: none !important;
}

.w-50 {
  width: 50% !important;
}

.text-primary {
  color: #404040 !important;
}
