<template>
  <header class="ecl-site-header" data-ecl-auto-init="SiteHeader">
    <header-page-information/>
    <div class="ecl-site-header__header">
      <div class="ecl-site-header__container ecl-container">
        <div class="ecl-site-header__top"><img
            alt="European Commission logo" title="European Commission"
            class="ecl-site-header__logo-image ecl-site-header__logo-image-desktop"
            src="@/assets/ec-logo.png" />
          <div class="ecl-site-header__action">
            <a class="ecl-button ecl-button--ghost ecl-site-header__language-selector"
                                     data-ecl-language-selector="" aria-label="Change language"
                                     aria-controls="language-list-overlay">
              <span class="ecl-site-header__language-icon">
                <svg class="ecl-icon ecl-icon--s ecl-site-header__icon" focusable="false" aria-hidden="true">
                  <use xlink:href="@/../node_modules/@ecl/preset-ec/dist/images/icons/sprites/icons.svg#language" />
                </svg>
                <span class="ecl-site-header__language-code">en</span>
              </span>
              English
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="ecl-site-header__banner">
      <div class="ecl-container">
        <div class="ecl-site-header__site-name">data.europa.eu - The official portal for European data</div>
      </div>
    </div>
  </header>
</template>

<script>
import HeaderPageInformation from "@/components/header/HeaderPageInformation";
export default {
  name: "Header",
  components: {HeaderPageInformation}
}
</script>

<style scoped>

</style>
