<template>
<div>
  <cookie-consent :piwik-instance="$piwik"></cookie-consent>
  <div id="app">
    <deu-header
      project="statistics"
      active-menu-item="data"
      use-breadcrumbs
      use-breadcrumbs-route-meta
      :showSparql="showSparql"
    ></deu-header>
    <sub-nav></sub-nav>
    <router-view></router-view>
    <deu-footer
      @click-follow-link="handleFollowClick"
    ></deu-footer>
  </div>
</div>
</template>

<script>

import '@deu/deu-cookie-consent/dist/deu-cookie-consent.css'
import CookieConsent from '@deu/deu-cookie-consent'

export default {
  name: 'App',
  components: {
    CookieConsent
  },
  data () {
    return {
      tracker: null,
      matomoURL: this.$env.MATOMO_URL,
      lastRoute: null,
      piwikId: this.$env.PIWIK_ID,
      showSparql: this.$env.SHOW_SPARQL
    }
  },
  metaInfo () {
    return {
      htmlAttrs: {
        lang: this.$route.query.locale
      }
    }
  },
  methods: {
    menuItemsHook (menuItems) {
      // Adjust header menu items for this project
      const dataMenuItems = menuItems[0].subMenuItems

      const euInternational = dataMenuItems[0]
      const countryData = dataMenuItems[1]
      const statistics = dataMenuItems[3]

      euInternational.to = `/data/eu-international-datasets/?locale=${this.$route.query.locale}/`
      countryData.to = `/data/datasets/?locale=${this.$route.query.locale}/`
      statistics.to = { name: 'CurrentState', query: { locale: this.$i18n.locale } }

      return menuItems
    },
    handleFollowClick (url) {
      this.$piwik.trackOutlink(url)
    }
  }
}

// JavaScript code to hide the unwanted menu item
document.addEventListener('DOMContentLoaded', function () {
	document.querySelector('#menu-item-list').childNodes[2].textContent = ""
	document.querySelector('#menu-item-list').childNodes[3].textContent = ""
	document.querySelector('#menu-item-list').childNodes[4].textContent = ""
	document.querySelector('#menu-item-list').childNodes[5].textContent = ""
  document.querySelector('#menu-item-list').childNodes[6].textContent = "";

	
	//footer contact us region
	document.querySelector('#block-subscribetoournewsletter').childNodes[0].childNodes[1].textContent=""
	document.querySelector('#block-subscribetoournewsletter').childNodes[0].childNodes[3].textContent=""
	document.querySelector('#block-subscribetoournewsletter').childNodes[0].childNodes[2].textContent="Contact the healthdata.europa.eu team"
	//
	document.querySelector('.region-footer-first-left-headline').innerHTML="healthdata.europa.eu";
	//document.querySelector('.deu-headline').textContent	= "Test environment of the HealthData@EU Central Platform.";
	document.querySelector('.deu-headline').innerHTML="<div class='ecl-site-header__banner'><div class='ecl-container'><div class='ecl-site-header__site-name'><div class='header-title-wrapper'><div class='region region-header-title'><div id='block-headerecltitle' class='block block-block-content block-block-content44818284-44c9-4b6a-b738-6aed80f70f66 block-header-ecl-title' style=''><div class='site-name' style='    align-self: center;    color: white;    flex-grow: 1;    font: normal normal 400 2rem/2.5rem arial,sans-serif;    font-weight: 700;    margin-inline-end: 0;'><div class='field field--name-field-site-name field--type-string field--label-hidden field__item'>European Health data</div></div><div class='description ecl-u-d-flex ecl-u-align-items-center' style='    gap: 0.75rem;    margin-top: 0.375rem;'><div class='tagline ecl-u-bg-grey-5 ecl-u-type-paragraph-m' style='    padding: 0.25rem 0.75rem;    -ms-flex-item-align: center;    align-self: center;    font-size: 1.125rem !important;    font-weight: 700 !important;    border-left: solid 6px #fc0;'><div class='field field--name-field-tagline field--type-string field--label-hidden field__item' style='    /* display: block; */'>healthdata.europa.eu</div></div><div class='sub-name ecl-u-type-paragraph-m' style='    color: white !important;'><div id='sub_name_title' class='field field--name-field-subname field--type-string field--label-hidden field__item' style='       font-weight: 700 !important;'>The official portal for European health data.</div></div></div></div></div></div></div></div></div><style>#sub_name_title{display: none !important}@media(min-width: 996px) { #sub_name_title {        display:block !important;        font-weight: 700 !important    }}</style>";
	
	//document.getElementsByClassName("deu-menu__dropdown-list-item")[1].hidden = true
	
	//document.querySelector('.deu-headline').textContent	= "health.data.eu - The official portal for European Health data"

  document.querySelector('#navbarDropdownMenuLink1').querySelector("span").textContent = "Metadata";

  /*console.log("Start log - ###############################################################");
	console.log(document.querySelector('#navbarDropdownMenuLink1'));
	console.log(document.querySelector('#navbarDropdownMenuLink1').querySelector("span"));
	console.log("End log - ###############################################################");*/
});

</script>

<style lang="scss">
@import '../node_modules/bootstrap/scss/bootstrap.scss';

* {
  box-sizing: border-box;

}

.site-wrapper {
  border: 1px solid #83b4c2;
  margin: auto;
  max-width: 984px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#app {
  background-color: #fff;
}

.spacer {
  margin: 500px;
}

.btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    margin-top: 5px;
}

h1, h2 {
  font-weight: 700 !important;
}
</style>
